@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Aboreto', cursive;
    background-color: #CCD7E4;
    color: #38405F;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 1.5;
    min-height: 50px;
    background-color: #301a61e6;
    position: fixed;
}

.top-nav .nav-items {
    color: #f4f1bb;
    margin: 1% 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-nav .left-nav-item,
.right-nav-item {
    padding: 0 24px;
}

#submit {
    cursor: pointer;
    padding: 20px;
}

.top-nav form {
    display: flex;
    align-items: center;
}

.top-nav form input {
    background-color: #2F195F;
}

::placeholder {
    color: #EDD2B4;
}

input[type="text"] {

    color: #EDD2B4;
    padding: 10px;
    font-size: 1.1vw;

}

input {
    border: dotted rebeccapurple;
    outline: none;
    border: #2F195F solid;
    border-radius: 20px;
}

main {
    max-width: 57%;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: left;
    padding-bottom: 10px;

}

h2,h3{
    padding: 10px 5px;
}

h1,h2{
    background-color: #ffffffa6;
    border-radius: 20px;
}
#container {
    background-color: #ffffffa6;
    padding: 7% 5%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    font-weight: bold;
    max-width: 80vw;
    margin-top: 100px;
    min-height: 50px;

}

footer{
    padding: 0 1%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 22%;
   color: #EDD2B4;
   background-color: #301a61e6;
   border-top-right-radius: 5px;
}
#container-Weatherinfo {
    padding: 2%;
}