@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* Set the box-sizing for all elements to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Aboreto', cursive;
  background-color: #e0fbfc ;
  font-size: 1.5vw;
}

h1 {
  display: inline;
}

h1 span{
  color: blue;
}
h2 {
  padding-bottom: 3%;
  font-size: 1.3rem;
}
figure{
  display: flex;
}

p a {
  color: #ee6c4d;
}

li{
  list-style: none;
}

.topnav {
  background-color: #98c1d9 ;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.navmenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  transition: 0.5s ease;
}

li img{
  padding: 12px;
  padding-top: 3px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #ee6c4d;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ee6c4d;
  color: #edf7f9;
}

/* Add alignment to the right split nav */

.container {
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: 69% auto;
  /* background-image: url(/website/2number/images/pexels-vh-s-2377965.jpg);
  background-size: cover;
  height: 120vh;
  width: auto;   */
}
.image-container {
  background-size: cover;
  
}
.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background:#ee6c4d;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color:#ee6c4d;
}
.text {
  padding-top: 170px;
  padding-left: 150px;
}

#contacts {
  padding: 3%;
  font-size: 3rem;
}

h2 span {
  color: #ee6c4d;
}


.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ee6c4d;
}
 .navvv{
  float: right;
}

form.searchbutton input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(231, 19, 19);
  float: left;
  width: 70%;
  background: #e0fbfc;
  border-radius: 20%;
}

form.searchbutton button{
color: rgb(255, 0, 64);
border-radius: 30%;
padding-left: 1%;
}
#footer {
  text-align: center;
  position: fixed;
   bottom: 0;
   width: 100%;
   height: 60px;
}


@media screen and (max-width: 1024px) {
  body {
    background-color: black;
    color: #edf7f9;
  }

  .text {
    padding: 100px 70px;
  }


 

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .topnav {
    background-color: black ;
  }

  .topnav a{
    color: #edf7f9;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;

  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: black;
    width: 100%;
  }

  .nav-item{
    padding:  16px;
  }

  .navmenu.active{
    left: 0;
  }

  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    padding-top: 10px;
  }
}




@media screen and (max-width: 425px) {
  
  .container h1 {
    font-size: 30px;
  }

  .container h2 {
    font-size: 20px;
  }

  .container p {
    font-size: 60%;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    padding: 100px 70px;
  }

  h2 {
    padding-top: 10px;
  }
}